<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       
            <div class="col-sm-4 ">
                <div ><h4>Add Contact</h4></div>
                <div class="row">
                    <input type="text" class="form-control col-sm-4 " placeholder="Name" ng-model="name"/>
                </div>
                <br/>
                <div class="row">
                    <input type="text" class="form-control col-sm-4 " placeholder="City" ng-model="address"/>
                </div>
                <br/>
                <div class="row">
                    <input type="text" class="form-control col-sm-4 " placeholder="Mobile number" ng-model="phone"/>
                </div>
                <br/>
                <div class="row">
                    <input type="text" class="form-control col-sm-4 " placeholder="Server IP" ng-model="ip"/>
                </div>
                <br/>
                <div class="row">
                    <a href="#/"  ng-click="addPerson()" class="btn btn-primary col-sm-4 " >Add Person</a>
                </div><br/>
                <div class="row">
                    <p>{{message}}</p>
                </div>
                
            </div>
       
    </body>
</html>
